*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-image: url(./day-night.gif);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    /* so that all image inside sky will get set acc to us; */
    overflow: hidden;
    transform: 2s;
}
.highway{
    width: 300%;
    height: 200px;
    position: absolute;
    /* this will be inside its parent */
    bottom: 0;
    background-image: url(./highway.png);
    animation: highway 5s linear infinite;
    left: 0;
    right: 0;
}
@keyframes highway {
    100%{
        transform: translateX(-1000px);
    }
    
}
.city{
    width: 300%;
    height: 200px;
    position: absolute;
    /* this will be inside its parent */
    bottom: 201px;
    background-image: url(./city.png);
    animation: city 8s linear infinite;
    left: 0;
    right: 0;
}
@keyframes city {
    100%{
        transform: translateX(-1000px);
    }
    
}

.car img{
    position: absolute;
    width: 410px;
    height: 200px;
    margin-top: 450px;
    margin-left: 500px;
    z-index: 3;
}
.imgg{
    position: absolute;
    width: 78px;
    height: 78px;
    animation: wheel 2s linear infinite;
}
@keyframes wheel {
    100%{
        transform: rotate(-360deg);
    }
    
}
.img1{
    
    top: 560px;
    left: 532.5px;
}
.img2{
    top: 560px;
    left: 784px;
}
