*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: hidden;
}

form
{
    height: 90vh;
    width: 90%;
    background-color: rgb(179, 255, 0);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border: 2%;
}
.format
{
    width: 400px; 
    display: flex;
    align-items: start;
    font-size: 200%;
}
.h2
{
    /* font-size: 30px; */
    margin-left: 5px;
}
#da
{
    margin-left: 113px;
}
#tc
{
    margin-left: 68px;
}
#td
{
    margin-left: 63px;
}
#nc
{
    margin-left: 73px;
}
#nd
{
    margin-left: 67px;
}